@media screen and (max-width:1000px){
    .slider{
        height: 23vh;
    }
    .nav{
        flex-direction: column;
    }
    nav ul{
        justify-content: center;
    }
    nav ul{
        height: 34px;
    }
    .logo{
        margin: 12px 0;
        justify-content: center;
    }
    .searchbar{
        justify-content: center;
    }
    .searchbar input {
        margin: 12px 16px;
    }
    .card-item img{
        width: 140px;
    }
}